@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,700&display=swap');
:root{
    --primary-color: #49d6ef;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 1rem 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
}
hr{
    margin: 2rem 0rem;
}
.links{
    text-decoration: none;
    padding:0.5rem 1rem;
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.secondary-link{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}
